#new {
    text-align: center;
    background-color: white;
}
.idk {
    display: inline;
}
#board {
    text-align: center;
    background-color: cadetblue;
}
html {
    scroll-behavior: smooth;
}
#contact {
    text-align: center;
}
.cont_1 h3 {
    display: inline;
    font-size: 18px;
}
.cont_1 h1 {
    font-size: 28px;
    color: white;
}
.cont_1 a:hover {
    text-decoration: none;
}
#unique {
    color: white;
}
.telphonex a {
    color: chartreuse;
}